In [1]:
#Programmer : Aditya Rokade
#College : Keystone School of Engineering
#Year  : TE

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('DATASETS/loan_data_set.csv')

1. Provide summary statistics

In [5]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [7]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [24]:
numeric_columns = df.select_dtypes(include='number').columns
print("-----------Minimum Values-----------")
df[numeric_columns].min()

-----------Minimum Values-----------

ApplicantIncome      150.0
CoapplicantIncome      0.0
LoanAmount             9.0
Loan_Amount_Term      12.0
Credit_History         0.0
dtype: float64

In [26]:
numeric_columns = df.select_dtypes(include='number').columns
print("-----------Maximum Values-----------")
df[numeric_columns].max()

-----------Maximum Values-----------

ApplicantIncome      81000.0
CoapplicantIncome    41667.0
LoanAmount             700.0
Loan_Amount_Term       480.0
Credit_History           1.0
dtype: float64

In [27]:
numeric_columns = df.select_dtypes(include='number').columns
print("-----------Average Values-----------")
df[numeric_columns].mean()

-----------Average Values-----------

ApplicantIncome      5403.459283
CoapplicantIncome    1621.245798
LoanAmount            146.412162
Loan_Amount_Term      342.000000
Credit_History          0.842199
dtype: float64

In [28]:
numeric_columns = df.select_dtypes(include='number').columns
print("-----------Mode Values-----------")
df[numeric_columns].mode()

-----------Mode Values-----------

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,2500,0.0,120.0,360.0,1.0

In [8]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [12]:
df['Self_Employed'].groupby(df['Gender']).value_counts()

Gender  Self_Employed
Female  No                89
        Yes               15
Male    No               402
        Yes               63
Name: count, dtype: int64

2. Provide summary statistics for a dataset with numeric variables grouped by one of the qualitative (categorical) variable.

In [30]:
print("-----------Gender based Income-----------")
df['ApplicantIncome'].groupby(df['Gender']).describe()

-----------Gender based Income-----------

,count,mean,std,min,25%,50%,75%,max
Gender,,,,,,,,
Female,112.0,4643.473214,3585.381488,210.0,2661.5,3583.0,4606.5,19484.0
Male,489.0,5446.460123,6185.789262,150.0,2917.0,3865.0,5923.0,81000.0

3. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of iris.csv dataset.

In [38]:
cols = ['SepalLengthCm',	'SepalWidthCm',	'PetalLengthCm', 'PetalWidthCm', 'Species']

In [54]:
df2 = pd.read_csv('DATASETS/iris.data', names = cols, index_col= None)

In [55]:
df2

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [64]:
df2['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of iris.csv dataset.

In [60]:
print("----------------- Iris Setosa -----------------")
df2[df2['Species'] == 'Iris-setosa'].describe()

----------------- Iris Setosa -----------------

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count       50.00000     50.000000      50.000000      50.00000
mean         5.00600      3.418000       1.464000       0.24400
std          0.35249      0.381024       0.173511       0.10721
min          4.30000      2.300000       1.000000       0.10000
25%          4.80000      3.125000       1.400000       0.20000
50%          5.00000      3.400000       1.500000       0.20000
75%          5.20000      3.675000       1.575000       0.30000
max          5.80000      4.400000       1.900000       0.60000

In [62]:
print("----------------- Iris Virginica -----------------")
df2[df2['Species'] == 'Iris-virginica'].describe()

----------------- Iris Virginica -----------------

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count       50.00000     50.000000      50.000000      50.00000
mean         6.58800      2.974000       5.552000       2.02600
std          0.63588      0.322497       0.551895       0.27465
min          4.90000      2.200000       4.500000       1.40000
25%          6.22500      2.800000       5.100000       1.80000
50%          6.50000      3.000000       5.550000       2.00000
75%          6.90000      3.175000       5.875000       2.30000
max          7.90000      3.800000       6.900000       2.50000

In [65]:
print("----------------- Iris Versicolor -----------------")
df2[df2['Species'] == 'Iris-versicolor'].describe()

----------------- Iris Versicolor -----------------

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count      50.000000     50.000000      50.000000     50.000000
mean        5.936000      2.770000       4.260000      1.326000
std         0.516171      0.313798       0.469911      0.197753
min         4.900000      2.000000       3.000000      1.000000
25%         5.600000      2.525000       4.000000      1.200000
50%         5.900000      2.800000       4.350000      1.300000
75%         6.300000      3.000000       4.600000      1.500000
max         7.000000      3.400000       5.100000      1.800000